* { box-sizing: border-box; }
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #eaeaea;
}

#container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
}

form {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 15px;
}

.table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

th {
    width: 40%;
    text-align: left;
    padding: 10px;
    background-color: #f2f2f2;
}
td {
    width: 60%;
    text-align: left;
    padding: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="radio"]{
    width: 80px;
    margin-right: 10px;
}

input[type="submit"], input[type="reset"] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

textarea {
    resize: none;
    width: 240px;
    height: 100px;
}

.buttons {
    margin: 10px 0 0 0;
    text-align: center;
}